.top-nav{
    color: rgb(255, 254, 254);
    display: flex;
    width: 100%;
    height: 40px;
    gap: 75%;
    justify-content: space-evenly;
    justify-items: auto;
    background-color: rgb(53, 102, 236);
}
.background{
     width: 100%;
    height:50% ; 
    background-position: center;
    background-size:cover;
    position: absolute;
    justify-content: center;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: -1;
    /* margin-left: 25%; */
    justify-items: center;
    background-image: url('../../assets/task.jpg');
}
 .AddTask{
    margin-top: 10%;
    padding-bottom: 10px; 
    border-radius: 5px;
    border: none;
    background-color: rgba(27, 86, 237, 0.946);
    color: #fff;
    width: 10%;
    height: 5%;
    cursor: pointer;
 }
 .AddTask:hover{
    background: #f4efef;
 }
 .image{
    width: 50%;
    height: 10%;
    padding: 5px;
    margin-top: 10px;
 }
 .photo{
    width: 47%;
    height: 10%;
    padding: 5px;
    margin-top: 10px;
 }
 .midImag{
    width:50%;
    border: solid;
    margin-top: -6%;
    display: flex;
    margin-bottom: -20%;
    
 }
 .midtext{
    font-size: x-large;
    font-weight: bolder;
    margin-top: 15%;
    justify-content: center;
    justify-items: center;
 }
 .midtt{
    margin-top: -9%;
    width: 90%;
    margin-left:10%;
    
 }
 .addTask{
    color: #000;
    background-color: aquamarine;
    padding: 5px 7px;
 }

 

 .midphoto{
    justify-content:center;
    margin-left: 70%;
    margin-top: -3%;
    margin-left: 50%;
    border: solid;
 }
.logo{
    font-family: lora;
    font-style: italic;
    font-weight: bold;
    line-height: 20px;
    font-size: xx-large;
    margin-top: 10px;

}
.second-set{
    margin-left: -10%;
    display: flex;
    padding-bottom: 20%;
}

.login{
    color:#fff
}
.text{
    font-size: 40px;
    font-weight: bolder;
    margin-top: -10%;
}

.mid{
   color: dodgerblue;
}
.login{
    line-height: 40px;
    margin-left: -20px;
}

.sign-up{
    color: #fff;
    margin-bottom: -40%;
}

.input{
    margin-top: 40px;
    display:flex;
    flex-direction: column;
    gap: 20px
}

.input{
    height: 50px;
    width: 400px;
    margin-left: -70px;
    background: transparent;
    border: none;
    outline: none;
    color:rgb(255, 254, 254);
    font-size: 19px; 
}
.export{
    color: darkblue;
}

/* .form{
    justify-items: auto;
    /* justify-content: center; 
    justify-items: center; */
   

.font{

    width: 1150px;
    height: 1500px;
}
.header{
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
    margin-left: 40%; 
}

.underline{
    width: 60px;
    height: 6px;
    background-color: #fff;
    border-radius: 9px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: -40px;
    background-color:rgb(51, 43, 206);
}

.input{
    height: 50px;
    width: 400px;
    margin-left: 7;
    background: transparent;
    border: none;
    outline: none;
    color:rgb(255, 254, 254);
    font-size: 19px;
    justify-content: center; 

}

.input{
    margin-top: 40px;
    display:flex;
    flex-direction: column;
    gap: 20px
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width:500px;
    height:700px;
    background-color: #eaeaea;
    border-radius: px;
    margin-top: 125px;
    border-radius: 6px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border:none;
    outline:none;
    color:white;
    background-color: #797979;
    font-size: 19px;
}
.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 9px;
    width: 100px;
    font-size:30px;
    font-weight: 30px;
     margin-top :5px;
     margin-left: 10px;
     color: rgb(51, 43, 206);

}
    .submit{
        color: white;
        background-color: rgb(51, 43, 206);
        height: 30px;
        width: 60px;
        font-size: 20px;
        font-weight: 20px;
        cursor: pointer;
        border-radius: 5px;
        margin-top: -10px;
    }

    